body{
    margin: 15px 0 5px 0;
}
header{
width: 100%;
height: 80px;
background-color: #FFFFFF;
box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
display: flex;
align-items: center;
justify-content: center;
}
nav a{
    margin: 40px;
    color: #1E3A8A;
    text-decoration: none;
    font-size: 40px;
}
.logo{
    width: 80px;
left: 10px;
}
