body{
    margin: 15px 0 5px 0;
}
header{
width: 100%;
height: 80px;
background-color: #FFFFFF;
box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
display: flex;
align-items: center;
justify-content: center;
}
nav a{
    margin: 35px;
    color: #1E3A8A;
    text-decoration: none;
    font-size: 15px;
    font-weight:900;
}
nav a:hover{
    text-decoration: underline;
}
.logo{
    width: 80px;
left: 10px;
}
.hero{
  width:100%;
  height:600px ;  
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("image/background.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.texte-accrosse{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
font-size: 35px;
font-family: 'Courier New', Courier, monospace;
margin-left: 55px;
}
.btn-hero{
width: 200px;
height: 60px;
border-radius: 15px;
background-color: #DD6B20;
font-size: 15px;
font-weight: 600;
color: #FFFFFF;

}
.btn-hero a{
color: #FFFFFF;
}
.btn{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#h-presentation{
        color: #1E3A8A;

    text-align: center;
    font-size: 35px;
font-family: 'Courier New', Courier, monospace;
}
#p-presentation{
    text-align: center;
    font-size: 18px;
font-family: 'Courier New', Courier, monospace;
margin: 5px ;
}
.contain-image{
    display: flex;
    gap: 25px;
    text-align: center;
}
.image1{
    width: 300px;
    height: 280px;
    text-align: center;
    bac
}
.image-social{
        width: 300px;
    height: 280px;
}