body{
    margin: 15px 0 5px 0;
}
header{
width: 100%;
height: 80px;
background-color: #FFFFFF;
box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
display: flex;
align-items: center;
justify-content: center;
gap: 800px;
}
nav a{
    margin: 30px;
    color: #1E3A8A;
    text-decoration: none;
    font-size: 15px;
    font-weight:900;
}
nav a:hover{
    text-decoration: underline;
}
.logo{
    width: 80px;
left: 10px;
}














































footer{
    background-color: #2D3748;
    width: 100%;
    height: 230px;
    margin-top: 20px;
}
.btn-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.btn-footer a{
    padding: px;
    color: #FFFFFF;
    margin: 10x;
    font-size: 15px;
}
.liste-footer{
    margin-left: 10px;
        color: #FFFFFF;

}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
}
.contain-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright{
        color: #FFFFFF;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* section histoire */
#histoire{
        color: #1E3A8A;

    text-align: center;
    font-size: 35px;
font-family: 'Courier New', Courier, monospace;
}
.contain-histoire{
    display: flex;
    gap: 25px;
}
#p-histoire{
    text-align: center;
    font-size: 18px;
font-family: 'Courier New', Courier, monospace;
margin: 5px ;
   width: 50%;
    box-shadow: 5px 1px 8px 4px rgba(31, 30, 37, 0.781);
}
.photo-histoire{
    width: 50%;
    height: 370px;
}
#valeur{
        color: #1E3A8A;

    text-align: center;
    font-size: 35px;
font-family: 'Courier New', Courier, monospace;
}
.photo-valeur{
    width: 40%;
    height: 350px;
border-radius: 50%;
    box-shadow: 1px 1px 8px 4px rgba(31, 30, 37, 0.781);
}
.contain-valeur{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contain-image{
    padding-top: 30px;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.image1{
    width: 300px;
    height: 380px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 10px 8px 8px rgba(49, 34, 180, 0.781);
    color: #000000;

}
.image-aide{
        width: 240px;
    height: 200px;
    padding: 20px;
    border-radius: 15%;
}
.image-aide:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#texte-aide-social{
        font-size: 25px;
        font-weight:bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#public{
        color: #1E3A8A;
padding-top: 25px;
    text-align: center;
    font-size: 35px;
font-family: 'Courier New', Courier, monospace;
}
.containt-public{
    margin-left: 10px;
}