body{
    margin: 15px 0 5px 0;
}
header{
width: 100%;
height: 80px;
background-color: #FFFFFF;
box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
display: flex;
align-items: center;
justify-content: center;
gap: 800px;
}
nav a{
    margin: 30px;
    color: #1E3A8A;
    text-decoration: none;
    font-size: 15px;
    font-weight:900;
}
nav a:hover{
    text-decoration: underline;
}
.logo{
    width: 80px;
left: 10px;
}














































footer{
    background-color: #2D3748;
    width: 100%;
    height: 230px;
    margin-top: 20px;
}
.btn-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.btn-footer a{
    padding: px;
    color: #FFFFFF;
    margin: 10x;
    font-size: 15px;
}
.liste-footer{
    margin-left: 10px;
        color: #FFFFFF;

}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
}
.contain-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright{
        color: #FFFFFF;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* section histoire */
#histoire{
        color: #1E3A8A;

    text-align: center;
    font-size: 35px;
font-family: 'Courier New', Courier, monospace;
}
.contain-histoire{
    display: flex;
}
#p-histoire{
    text-align: center;
    font-size: 18px;
font-family: 'Courier New', Courier, monospace;
margin: 5px ;
   width: 50%;
   border: 2px solid red;
}
.photo-histoire{
    width: 50%;
    height: 400px;
}