body{
    margin: 15px 0 5px 0;
    background-color: #fffffff5;
}
header{
width: 100%;
height: 80px;
background-color: #FFFFFF;
box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
display: flex;
align-items: center;
justify-content: center;
gap: 800px;
}
nav a{
    margin: 15px;
    color: #1E3A8A;
    text-decoration: none;
    font-size: 15px;
    font-weight:900;
}
nav a:hover{
    text-decoration: underline;
}
.logo{
    width: 80px;
left: 10px;
}


/* section histoire */
#histoire{
        color: #1E3A8A;

    text-align: center;
    font-size: 35px;
font-family: 'Courier New', Courier, monospace;
text-decoration: underline;

}
.contain-histoire{
    display: flex;
    gap: 25px;
}
#p-histoire{
    text-align: center;
    font-size: 18px;
font-family: 'Courier New', Courier, monospace;
margin: 5px ;
   width: 50%;
    box-shadow: 5px 1px 8px 4px rgba(31, 30, 37, 0.781);
}
.photo-histoire{
    width: 50%;
    height: 400px;
}
#valeur{
        color: #1E3A8A;

    text-align: center;
    font-size: 35px;
font-family: 'Courier New', Courier, monospace;
text-decoration: underline;

}
.photo-valeur{
    width: 40%;
    height: 350px;
border-radius: 50%;
    box-shadow: 1px 1px 8px 4px rgba(31, 30, 37, 0.781);
}
.contain-valeur{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contain-image{
    padding-top: 30px;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.image1{
    width: 300px;
    height: 380px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 10px 8px 8px rgba(49, 34, 180, 0.781);
    color: #000000;

}
.image-aide{
        width: 240px;
    height: 200px;
    padding: 20px;
    border-radius: 15%;
}
.image-aide:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#texte-aide-social{
        font-size: 25px;
        font-weight:bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#public{
        color: #1E3A8A;
padding-top: 25px;
    text-align: center;
    font-size: 35px;
font-family: 'Courier New', Courier, monospace;
text-decoration: underline;
}
.containt-public{
    margin: 10px;
}
.p-public{
    font-size: 18px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#lieu{
        color: #1E3A8A;
padding-top: 25px;
    text-align: center;
    font-size: 35px;
font-family: 'Courier New', Courier, monospace;
text-decoration: underline;
}


.contain-lieu{
    display: flex;
    gap: 25px;
}
#p-lieu{
    text-align: center;
    font-size: 18px;
font-family: 'Courier New', Courier, monospace;
margin: 5px ;
   width: 50%;
    box-shadow: 5px 1px 8px 4px rgba(31, 30, 37, 0.781);
}
iframe{
    width: 50%;
    height: auto;
}





footer{
    background-color: #2D3748;
    width: 100%;
    height: 230px;
    margin-top: 20px;
}
.btn-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.btn-footer a{
    padding: px;
    color: #FFFFFF;
    margin: 10x;
    font-size: 15px;
}
.liste-footer{
    margin-left: 10px;
        color: #FFFFFF;

}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
}
.contain-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright{
        color: #FFFFFF;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/* mediaquery pour mobile*/
@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav a {
    margin: 8px;
    color: #1e3a8a;
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
  }
  nav a:hover {
    text-decoration: underline;
  }
.contain-histoire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#p-histoire{
    text-align: center;
    font-size: 15px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 30px;
margin: 5px ;
   width: 50%;
    box-shadow: 5px 1px 8px 4px rgba(31, 30, 37, 0.781);
    width: 80%;
}
.photo-histoire{
    width: 80%;
    height: 250px;
}
.photo-valeur{
    width: 60%;
    height: 300px;
border-radius: 50%;
    box-shadow: 1px 1px 8px 4px rgba(31, 30, 37, 0.781);
}


.contain-image{
    padding-top: 30px;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image1{
    width: 300px;
    height: 380px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 10px 8px 8px rgba(49, 34, 180, 0.781);
    color: #000000;

}
.image-aide{
        width: 240px;
    height: 200px;
    padding: 20px;
    border-radius: 15%;
}
.image-aide:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#texte-aide-social{
        font-size: 25px;
        font-weight:bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.p-public{
    font-size: 13px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contain-lieu{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#p-lieu{
    text-align: center;
    font-size: 13px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 5px ;
   width: 80%;
    box-shadow: 5px 1px 8px 4px rgba(31, 30, 37, 0.781);
    height: auto;
}
iframe {
    padding-top: 25px;
    width: 80%;
    height: 250px;
}
footer {
    display: flex;
  background-color: #2d3748;
  width: 100%;
  height: auto;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contain-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bloc-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    font-size: 13px;

}
.liste-footer ul,
.contact ul{
    padding: 0;
}
.copyright{
        color: #FFFFFF;
    font-size: 15px;

}
.btn-footer a{
    padding: px;
    color: #FFFFFF;
    margin: 10x;
    font-size: 12px;
}

}



/* media query tablette */
@media screen and (max-width: 1024px) { 
  * {
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contain-histoire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#p-histoire{
    text-align: center;
    font-size: 18px;
font-family:'Times New Roman', Times, serif;
margin: 5px ;

   width: 80%;
    box-shadow: 5px 1px 8px 4px rgba(31, 30, 37, 0.781);
    height: auto;
    line-height: 30px;
}
.photo-histoire{
    width: 80%;
    height: 350px;
}
.contain-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}
.image1{
    width: 370px;
    height: 380px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 10px 8px 8px rgba(49, 34, 180, 0.781);
    color: #000000;

}
.image-aide{
    width: 260px;
    height: 200px;
    padding: 20px;
    border-radius: 15%;
}
.image-aide:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#texte-aide-social{
        font-size: 30px;
        font-weight:bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.contain-lieu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#p-lieu{
    width: 80%;
    height: auto;
        font-size: 18px;
font-family:'Times New Roman', Times, serif;
line-height: 30px;
}
iframe{
    width: 80%;
    height: 500px;
}
footer {
    display: flex;
  background-color: #2d3748;
  width: 100%;
  height: 400px;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contain-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.bloc-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;

}
.liste-footer ul,
.contact ul{
    padding: 0;
}
.copyright{
        color: #FFFFFF;
    font-size: 15px;

}
.btn-footer a{
    padding: px;
    color: #FFFFFF;
    margin: 10x;
    font-size: 12px;
}
}


  
